@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap')

:root
  scroll-behavior smooth
  --font-family 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans

body
  margin 0
  line-height 1.8
  font-family var(--font-family)

a
  text-decoration none
  color #222
  &:visited
    color #222

svg
  vertical-align middle

h1
  margin 0

button, input, textarea
  outline none

nav
  height 72px
  box-sizing border-box
  padding 0 2rem
  display flex
  justify-content space-between
  align-items center
  position fixed
  top 0
  width 100%
  transition all 0.2s
  z-index 100
  a, svg
    cursor pointer
  .brand
    color black
    font-family 'Nunito', sans-serif
    font-size 1.4rem
    position relative
    z-index 10
  .mark
    height @height
    background-color rgba(255, 255, 255, 1)
    position fixed
    z-index 9
    width 100%
    left 0
  #check
    display none
    position relative
    z-index 10
    pointer-events none
    &:checked~
      &.links
        transform translateY(0)
        border none
        box-shadow 0 4px 12px rgba(0, 0, 0, 0.1)
      &label svg.menu
        display none
      &label svg.close
        display block
      &.links .link
        margin 24px
  .mobile
    display block
    cursor pointer
    position relative
    z-index 10
    svg.close
      display none
  .links
    display flex
    flex-direction column
    align-items center
    box-sizing border-box
    background-color white
    width 100%
    position fixed
    left 0
    top 72px
    padding 16px
    transition all 0.2s
    transform translateY(calc(-100% + 1px))
    border-bottom 1px solid whitesmoke
    a.link
      margin 24px
      cursor pointer
      color gray
      transition all 0.2s
      &:hover
        color black

main
  margin 0 auto
  max-width 860px
  padding 1rem

main.articles
  margin-top 90px

main.article
  margin-top 32px

img
  vertical-align middle
  max-width 100%

a>h1
  display inline
  &:hover
    text-decoration underline

.list-article
  margin-bottom 3rem

.header-pictrue, .list-pictrue
  object-fit cover

.summary
  color #666

.articles
  .summary, .title, .date
    padding 0 2rem

.content
  color #444

.date
  margin-top 0
  color #b2bac2
  font-size 14px

.comment
  padding-top 72px
  .row
    display flex
    flex-direction column
    margin-bottom 16px
    input
      height 38px
      border-radius 6px
      border 1px solid #eee
      font-family var(--font-family)
      padding 0 16px
      box-sizing border-box
      transition all 0.35s
      margin-bottom 16px
      &:first-child
        margin-top 24px
      &:last-child
        margin-bottom 0
      &:focus
        border 1px solid #666
      &::placeholder
        color #ccc
    textarea
      &::placeholder
        color #ccc
    .comment-content
      width 100%
      resize none
      height 140px
      border 1px solid #eee
      border-radius 6px
      transition all 0.35s
      padding 16px
      box-sizing border-box
      font-family var(--font-family)
      vertical-align middle
      position relative
      &:focus
        border 1px solid #666
  .comment-content-row
    position relative
    .comment-content-at
      transition all 0.15s
      position absolute
      top 16px
      left 12px
      background #bbb
      opacity 0
      width 0
      height 32px
      line-height 32px
      color white
      border-radius 16px
      z-index 10
      cursor pointer
      overflow hidden
      .close
        margin-left 12px
      &:hover
        background tomato

button.submit
  border none
  padding 0 20px
  height 36px
  border-radius 6px
  transition all 0.5s
  color #666
  border 1px solid #eee
  cursor pointer
  &:hover
    background #222
    border 1px solid #222
    color white

.comments-wrapper
  margin-top 48px
  .head
    display flex
    align-items center
    font-size 15px
    position relative
    .alia
      color #666
    .at
      margin 0 4px
    .reply
      position absolute
      right 0
      top 0
      color #666
      font-size 14px
      cursor pointer
    .time
      color #999
      font-size 12px
  .avatar
    width 40px
    height 40px
    object-fit cover
    border-radius 50%
    margin-right 12px
  .content
    margin 4px 0 18px 24px
    padding-bottom 18px
    border-bottom 1px solid whitesmoke
  .comment-wrapper
    margin-bottom 42px
    border-bottom 1px solid whitesmoke
    &:last-child
      border-bottom none
    .__comment-wrapper > .content
      &:last-child
        border-bottom none
  .sub-comment-wrapper
    margin-left 24px
    &:last-child > .content
      border-bottom none

@media (min-width 576px)
  main.articles
    margin-top 120px
  .list-pictrue
    height 400px
  .header-pictrue
    height 450px
  .comments-wrapper
    .__comment-wrapper, .sub-comment-wrapper
      &:hover .reply
        opacity 1
    .head
      flex-direction row
      font-size 16px
      .reply
        right 140px
        top 6px
        opacity 0
        transition opacity 0.35s
        &:hover
          color #222
      .time
        font-size 14px
    .alia_time-wrapper
      display flex
      align-items center
      justify-content space-between
      width 100%
    .content
      margin-left 52px
  .comment
    .row
      flex-direction row
      input
        flex 1
        margin-right 24px
        margin-bottom 0
        &:last-child
          margin-right 0

@media (min-width 1200px)
  .list-pictrue
    height 500px
  .header-pictrue
    margin-top 72px
    height 650px

@media (min-width 1921px)
  .header-pictrue
    display block
    margin 120px auto 0
    width 860px
    height 450px
