extends layout.pug

block content
  img.header-pictrue(src=data.pictrue width="100%" height="300px")
  main.article
    article
      h1.title= data.title
      time.date(datatime=data.create_date)= new Date(data.create_date).toDateString()
      p.content!= data.content
    form.comment
      .row(style="margin-top: 24px")
        input.alia(placeholder="Name (Required)" Required maxlength="8" minlength="2")
        input.email(placeholder="Email" type="email")
      .row.comment-content-row
        textarea.comment-content(placeholder="Say Something (Required)" Required maxlength="24" minlength="2")
      button.btn.submit(type="submit") Submit
    .comments-wrapper

append foot 
  script(src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js")
  script(src="/static/js/comment.js") 
