doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(type="image/x-icon" rel="icon" href="/static/img/favicon.ico")
    title #{ titile ? title: 'blog' }
    block head 
      link(rel="stylesheet", href="/static/css/main.css")
  body
    nav
      a.brand(href='#') VAQUA
      .mark 
      input#check(type="checkbox")
      label.mobile(for="check")
        <svg t="1614693162216" class="icon menu" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2669" width="24" height="24"><path d="M126 192.5h772M898 227.5H126c-19.3 0-35-15.7-35-35s15.7-35 35-35h772c19.3 0 35 15.7 35 35s-15.7 35-35 35zM126 511.5h772M898 546.5H126c-19.3 0-35-15.7-35-35s15.7-35 35-35h772c19.3 0 35 15.7 35 35s-15.7 35-35 35z" p-id="2670"></path><path d="M126 830.5h772M898 865.5H126c-19.3 0-35-15.7-35-35s15.7-35 35-35h772c19.3 0 35 15.7 35 35s-15.7 35-35 35z" p-id="2671"></path></svg>
        <svg t="1614762734087" class="icon close" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2080" width="20" height="20"><path d="M938.614154 977.211077a35.721846 35.721846 0 0 1-25.245539-10.476308L53.169231 106.574769a35.721846 35.721846 0 0 1 50.491077-50.530461l860.238769 860.278154a35.800615 35.800615 0 0 1-25.324308 60.888615m-860.16 0a35.643077 35.643077 0 0 1-25.284923-60.967385l860.278154-860.16a35.721846 35.721846 0 0 1 50.412308 50.491077l-860.16 860.16c-6.695385 6.695385-15.753846 10.476308-25.245539 10.476308" p-id="2081"></path></svg>
      .links
        a.link(href='#') juejin
        a.link(href='#') github 
        a.link(href='#') profile
        a.link(href='#') profile
        a.link(href='#') profile
    block content
    block foot
      script(src="/static/js/main.js") 
